#root {
  margin: 0; 
  padding: 0;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
} 

.error {
  color: red;
  font-weight: 500;
}
.centrado{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}
.form-group {
  width: 90%;
}