.botones {
    display: flex;
    justify-content: space-around;
}

.botones button{
    border: solid 1px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.ver-mas{
    background-color: transparent;
}
.add {
    background-color: #323232;
    color: white;
}