.navegador {
    background-color: #323232;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: white;
}

.conjunto {
    width: 100%;
    color: white;
}
.conjunto h2{
    color: white;
    font-size: 1.68rem;
    font-weight: 350;
}

.lista {
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.lista1, .lista2{
    margin-left: 1rem;
    margin-right: 1rem;
}
/* .lista2{
    list-style-type: none;
}
.detalle {
    font-weight: 500;
} */


.navegador button{
    border:solid 1px white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
}

.compra-total button{
    border:solid 1px aqua;
    color:aqua;
}

@media (min-width: 992px) {
    .conjunto{
        width: 25%;
    }
    .navegador button{
        display: flex;
        margin: 0 5px;
    }

}

@media (min-width: 1200px) {
    .conjunto{
        width: 20%;
    }
}